# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.txt
restaurants.txt
greeting.txt
my_list.txt
numbers.txt
log.txt
test.txt
